<h1>Do the TODOs</h1>

<% if @current_user%>

  <%= form_with :model => @task do |form| %>
    <%= form.text_field "description" %>
    <%= form.submit "Add new task" %>
  <% end %>

<% end %>


<% if @current_user%>
      <table>
      <% for task in @tasks %>
      <tr>
        <td>
          <%= task["description"] %>
        </td>
        <% if @current_user%>
        <td>
          <%= button_to "Complete", task, :method => "delete" %>
        </td>
        <% end %>
      </tr>
      <% end %>
      </table>

<% end %>
